// add an orange line to h1 */////////////////////////////////////////////////////////////////////////
.overline {
  padding-top: 25px;
  border-top-style: solid;
  border-top-width: 5px;
  width: fit-content;
  border-top-color: orange;
  }
  

h1 {
  content:' ';
  display:block;
  padding-top: 25px; /*25*/
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: orange;
  padding-bottom: 25px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: lightgrey;
  
}


/* the end ****************************************************************************************/