// add an orange line to h1 */////////////////////////////////////////////////////////////////////////
.overline {
  padding-top: 20px;
  border-top: 5px solid lightgrey;
  width: fit-content;
  }
  

h1 {
    display: block;
    padding-bottom: 20px; /* define the distance between the line and the header */
    border-bottom: 5px solid lightgrey;
    margin-top: 80px; /* dedine the header and the previous section */
    margin-bottom: 10px; /* dedine the line and the next section */
}


/* the end ****************************************************************************************/